.pList{
  width: 90%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
  object-fit: cover;
  align-items: center;
  

  
}
.pListItem:hover img {
  -webkit-transform:scale(1.3);
  transform:scale(1.1);
  transition: all 0.5s ease-in-out;
}


.pListItem{
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  overflow:hidden;
  list-style: none;
  text-decoration: none;
  color: white;
  text-decoration:none;
  width: 90%; 
  display: flex;
  flex-direction: column;

}
 .pListItem img{
  width: 100%;  
  object-fit: cover;
  
}

.pListImg{
  width: 100%;
  object-fit: cover;
}

.pListTitles>h1{
  font-size: 18px;
  color: #444;
}

.pListTitles>h2{
  font-size: 14px;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .pList{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px 0 20px;
    overflow: hidden;
    width: 100%;

  } 
}