.navbar{
  height: 50px;
  background-color:  #acbbd0;
  display: flex;
  justify-content: center;
  color: rgb(44, 41, 41);
}


.navContainer {
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  color: rgb(44, 41, 41);;
  list-style: none !important;
  display: inline-flex !important;
  
}
.logo{
  font-weight: 500;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  background-color: #fff;
  text-decoration: none;
  font-weight: bold ;
}

.navUserIsLog{
  width: 100px;
  display: flex;
  gap: 20px;
  position: relative;
 
}

.navImg img{
  width: 20px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}
.navUser{
  cursor: pointer;
}
.navDropDown{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  right: 45px;
  width: 120px;
  border-radius: 15px;
  padding: 15px;
  background-color: #f0ebeb;
  border: 2px solid grey;
  z-index: 999;
  
}
.navDropDown::after{
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 2rem ;
  width: 20px;
  height: 20px;
  transform: rotate(45deg); 
  background-color: #f0ebeb;
  border-left: 2px solid grey;
  border-top: 2px solid grey;

}
.navDropDown li{
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .navItems{
    padding-right: 10px;
  }
  .logo{
    padding-left: 10px;
  }
}